@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
:root {   
  --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --main-background-colour: #fef4d9;
  --main-font-colour: #6e4e3f;    
  --main-third-colour: #d2c401;
  --main-fourth-colour: #fef097;    
}


body{
    background-color: var(--main-background-colour);
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

.card{
   background-color: var(--main-background-colour)!important;
   
}

.card-body{
    color:var(--main-font-colour)!important;
}


.btn-primary {
  color: var(--main-font-colour);
  background-color: var(--main-fourth-colour);
  border-color: var(--main-fourth-colour);
}

.btn-primary:hover, .btn-primary.active,
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  color: var(--main-font-colour);
  background-color: var(--main-third-colour);
  border-color: var(--main-third-colour);
}


.py-5{
    color:var(--main-font-colour)!important;
    border-top: 2px solid var(--main-background-colour);
}

.featurette{
    color:var(--main-font-colour)!important;
    
}

.modal{
    color:var(--main-font-colour)!important;
}

.bold {
    font-weight: bold;
}

.loading_panel{
    position: fixed;
    display: -ms-flexbox;
    display:flex;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    z-index: 99999;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.loading_panel img{
    margin:auto;
}
