main{
    color: rgb(127,83,52)!important;
    margin: 20px;
}

header{
  text-align: center;
  color: rgb(127,83,52)!important;  
}

.card img{
    height: 300px;
    width: 100%;
}

.card{
    padding: 10px;
    border-radius: 0.40em;
    border-color:  rgba(127,83,52, 0.3);
    
}


.center{
    align-items: center;
}

.card-img-top{
    max-width: 200px;
    max-height: 300px;
}

.card-text{
    text-align: justify;
}

.card-main-text{
    height: 60vh;
}

.card-title{
    height: 10vh;
}

.row.featurette {
    min-height: 400px;
    padding:10px;
    border-radius: 0.40em;
    border: 2px solid rgba(127,83,52, 0.3);
}
.row.featurette div{
    background-size: 100% 100%;
}

.additional_info{
    font-size: 0.8em;
    margin-top: 15px;
    float: right;
}

button.btn-secondary{
    background-color: var(--main-third-colour)!important;
    color: var(--main-font-colour)!important;
}

.modal-content{
    background-color: var(--main-background-colour)!important;
    padding:10px;
}

.modal-footer{
    border-top:1px solid var(--main-background-colour);
}

.modal-header{
    border-bottom:1px solid var(--main-backgorund-colour);
}

.list-group-item{
    background-color: var(--main-background-colour);
    color: var(--main-font-colour);
    border: 1px solid var(--main-third-colour);
}

.list-group-item.active{
    background-color: var(--main-third-colour);
    border-color: var(--main-third-colour);
}

.list-group-item:hover{
    background-color: var(--main-fourth-colour);
}

