main{
    padding-top: 10vh;
    color: rgb(127,83,52)!important;
    margin: 20px;
}
}

.card img{
    height: 400px;
    width: 100%;
}

.card{
    padding: 10px;
    border-radius: 0.40em;
    border-color:  rgba(127,83,52, 0.3);
}

.row.featurette {
    min-height: 400px;
    padding:10px;
    border-radius: 0.40em;
    border: 2px solid rgba(127,83,52, 0.3);
}
.row.featurette div{
    background-size: 100% 100%;
}