.footer{
    height: 20vh; 
    width: 100%; 
    background-size: 100% 100%;
    padding: 20px;
    color: var(--main-font-colour);
    font-size: 0.8rem;
    
}

.container-footer{
    padding-left: 0px;
    padding-right: 0px;
    
}