
header{
  text-align: center;
  color: rgb(127,83,52)!important;  
}

main{
    min-height: 600px;
}

.featurette,.py-5{
    color:rgb(127,83,52)!important;
    border-top: 2px solid var(--main-background-colour);
}

a.anchor {
    display: block;
    position: relative;
    top: -15px;
    visibility: hidden;
}

.card{
    height: 100px;
    background-size: 100% 100%;
    border: 1px solid var(--main-background-colour);
    z-index: 1000;
    float:left;
    max-width: 150px;
}

.card a{
    height:100%;
    width:100%;
    z-index: 2000;
    color:var(--main-third-colour)!important;
    font-size: 3em;
     
}

.card p{ 
    color:var(--main-third-colour)!important;
    font-size: 2em;
}

.card a.active{
    font-weight: bold;
    color:var(--main-font-colour)!important;
}

.card-text.active{

    color:var(--main-font-colour)!important;
}

.card-background{
    position: absolute;
}

.card-body{
    position: relative;
    top: 50%;
    max-height: 150px;
    text-align: center;
   

}

.card-body.active{
  background-color: lightgray;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  

}

.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: lightgrey;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

a .img-fluid {
    max-height: 10em;
    margin: auto;
    display: block;
}

.row a{
    padding: 5px !important;
}

.modal-content{
        background-color: var(--main-background-colour)!important;
        padding:10px;
}

.loading_panel{
    position: fixed;
    display: -ms-flexbox;
    display:flex;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    z-index: 99999;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.loading_panel img{
    margin:auto;
}

button.btn-secondary{
    background-color: var(--main-third-colour)!important;
    color: var(--main-font-colour)!important;
    cursor: pointer;
}

.tag-container{
    padding: 10px;
    border-radius: 0.40em;
    border-color: rgba(127,83,52, 0.3);
    border: 1px solid rgba(0,0,0,.125);
}

.tag-container .tag-name{
    margin-left : 5px !important;
    font-weight: bold;
    color: var(--main-font-colour)!important;
}

#tags .nav-link{
    color:  var(--main-font-colour)!important;
}

#tags .nav-link.active{
    background-color: var(--main-third-colour)!important;
    color: var(--main-font-colour)!important;
    cursor: pointer;
}

#tags .nav-link:hover {
    color: var(--main-font-colour) !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
}

.nav-tabs {
    border-bottom: none !important;
}