.row{
    height:90px
}

.col-sm{
    padding: 10px;
    border: dotted 1px;
    text-align: center;
}

.col-sm.header{
    padding-top: 30px;
    font-weight: bold;
}

.skupinove{
    background-color:var(--main-third-colour)!important;
}
.individualne{
    background-color:var(--main-fourth-colour)!important;
}
.detska{
    background-color:var(--main-fifth-colour)!important;
}

