@media (min-width: 768px){
    .col-md-2 {
        max-width: 15%;
    }
    .row{
        height:140px
    }
    
    .DeskHidden{
        display: none;
    }
}

@media (min-width: 992px){
    
    .row{
        height:90px
    }
    
    
}

@media (max-width: 767px){
    
        .MobHidden{
            display: none;
        }
}



.stlpik{
    padding: 10px;
    border: dotted 1px;
    text-align: center;
}

.stlpik.header{
    padding-top: 30px;
    font-weight: bold;
}

.skupinove{
    background-color:var(--main-third-colour)!important;
}
.individualne{
    background-color:var(--main-fourth-colour)!important;
}
.detska{
    background-color:var(--main-fifth-colour)!important;
}

