
.navbar{
    background-color: rgb(255,255,241);
    height: 10vh;
}

.nav-link{
    color:rgb(127,83,52)!important;
    font-size: 1.2em;
}

.nav-link:hover{
    color: rgb(127,83,52);
    font-weight: bold;
}

.nav-link.active{
    background-color: rgb(233,227,18);
}

.logo-image{
    width:150px;
    height:50px;
    border-radius: 0.4em
}

.navbar-brand{
    padding:0px;
}