@media (min-width: 800px) {
   .left-section {
       float: left;
        height: 100%;
    } 
    
    .card-title{
       height: 24vh;
    }
}

@media (min-width: 990px) {
    .card-title{
       height: 7vh;
    }
}




.card img{ 
    margin-right: 20px;
}

.card{
    display:block;
}


.left-section div{
    padding-top: 20px;
}